body, html, #content {
	height:100%;
	overflow: hidden;
}

.row {
	max-height: 90%;
}

#lesson {
	overflow-y: scroll;
}

#query {
	width: 100%;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

#results {
	padding-top: 5px;
	overflow-y: scroll;
	max-height: 75%;
}

iframe {
	border: solid 1px;
}