body, html, #content {
	height:100%;
}

.row {
	height: 90%;
}

.col {
	height: 90%;
}

#lesson {
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

#query {
	width: 100%;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

#results {
	overflow-y:scroll;
	height: 80%;
}

iframe {
	border: solid 1px;
}